.entete
{
	position: absolute;
	top: -10px;
	left: -10px;
	width: 105%;
	height: 350px;
}
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
 *, *:before, *:after {
	 box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Source+Code+Pro:ital,wght@1,500&display=swap');

body {
	 font-family: "Cutive Mono", serif;
	 font-size: 1.2em;
	 line-height: 1.6;
	 background-color: #343633;
	 overflow-x: hidden;
}

a
{
  text-decoration: none;
  color: #dad2d8;
}

 label .menu {
	 position: absolute;
	 right: -100px;
	 top: -100px;
	 z-index: 100;
	 width: 200px;
	 height: 200px;
	 background: #a29c9b;
	 border-radius: 50% 50% 50% 50%;
	 transition: 0.5s ease-in-out;
  box-shadow: 2px 2px 50px #dad2d8;
	 cursor: pointer;
}

 label .hamburger {
	 position: absolute;
	 top: 135px;
	 right: 125px;
	 width: 30px;
	 height: 2px;
	 background: #DAD2D8;
	 display: block;
	 transform-origin: center;
	 transition: 0.5s ease-in-out;
}

 label .hamburger:after, label .hamburger:before {
	 transition: 0.5s ease-in-out;
	 content: "";
	 position: absolute;
	 display: block;
	 width: 100%;
	 height: 100%;
	 background: #DAD2D8;
}

 label .hamburger:before {
	 top: -10px;
}

 label .hamburger:after {
	 bottom: -10px;
}

 label input {
	 display: none;
}

 label input:checked + .menu {
	 box-shadow: 0 0 0 100vw #343633, 0 0 0 100vh rgb(0, 0, 0);
	 border-radius: 0;
}

 label input:checked + .menu .hamburger {
	 transform: rotate(45deg);
}

 label input:checked + .menu .hamburger:after {
	 transform: rotate(90deg);
	 bottom: 0;
}

 label input:checked + .menu .hamburger:before {
	 transform: rotate(90deg);
	 top: 0;
}

 label input:checked + .menu + ul {
	 opacity: 1;
}

 label ul {
	 z-index: 200;
	 position: absolute	;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 opacity: 0;
	 transition: 0.25s 0s ease-in-out;
   color: #dad2d8;
   font-family: 'Source Code Pro', monospace;
}

 label a {
	 margin-bottom: 1em;
	 display: block;
	 color: #dad2d8;
	 text-decoration: none;
}

.headPhoto
{
    position: absolute;
    top: -10px;
    left:-10px;
    width: 1550px;
    height: 400px;
    opacity: 0.8;
    z-index: -1000;
}

.headTitle
{
    font-family: 'Source Code Pro', monospace;
    width: 100%;
    font-size: 3em;
    text-align: center;
  	margin-top: 235px;
    color: #dad2d8;
    text-shadow: 5px 5px 10px #dad2d8;
}

.villeTxt
{
  font-family: 'Source Code Pro', monospace;
  font-size: 0.85em;
	text-align: center;
  color: #dad2d8;
  margin: 150px 0px 80px 0px;
}

.gallery
{
	flex-direction: column;
	box-shadow: 10px 5px 25px  #a29c9b;
}

.wrap
{
  margin:auto;
  widows: 100%;
  display:flex;
  align-items:space-around;
}

.tile
{
  height:380px;
  background-color:#6b6967;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 1s ease-out;
  overflow:hidden;
  color:#dad2d8;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  font-size: 0.75em;
}

.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 1s ease-out;

}

.tile .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}

.tile h1
{
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.tile h2
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}

.tile p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}

.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}

.tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
}

.tile:hover img
{
  opacity: 0.2;
}

.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}

@media (max-width: 1000px) {
  .wrap {
   flex-direction: column;
    width:400px;
  }
}

.titleContact
{
	color: #dad2d8;
	font-size: 1.20em;
	text-align: center;
  text-decoration: none;
  margin-top: 100px;
  font-family: 'Source Code Pro', monospace;
}

.titleContact a
{
	color: black;
}

footer
{
  background-color: #474A45;
	width: 110%;
	position: absolute;
  left: -10px;
  font-family: 'Source Code Pro', monospace;
}

.reseaux
{
  display: flex;
  justify-content: center;
  margin-left: -120px;
  margin-top: 25px;
}

.footerMenu
{
  color: #dad2d8;
  display: flex;
  justify-content: center;
}


.titleFooterMenu
{
  color: #dad2d8;
  text-align: center;
  margin-left: -100px;
}


.mail
{
	height: 70px;
	width: 80px;
  margin-right: 30px;
  border-radius: 10px;
  margin-top:-6px;
}

.instaj
{
	height: 60px;
  width: 60px;
  border-radius: 15px;
}
